{% extends "layout.html" %}

{# Inserts Mep dependancies into the header on the index.html page #}
{% block head %}
    <script src="{{ url_for('static', filename='js/maps.js') }}" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap"></script>
{% endblock %}

{# Inserts the map body into the index.html page#}
{% block body %}
    <div id="map"></div>

    <div id="userIcon" class="userIcon">
        <div class="dropdown">
            <button class="dropbtn userIconText"><i class="far fa-user"></i></button>
            <div class="right dropdown-content">
                <a href="#">SIGNUP</a>
                <a href="#">LOGIN</a>
            </div>
        </div>
    </div>
{% endblock %}
