<div id="side-menu">
    <div id="side-menu-header" class="side-menu-header">
        <button id="burger-icon" onclick="expand_menu()"><i class="fas fa-bars"></i></button>
        <input id="seatch-bar" type="text">
        <button id="search-btn" onclick="do_search()"><i class="fas fa-search"></i></button>
    </div>
    <div id="expandable" class="expandable collapsed">
        <div class="expandable-body">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
            </ul>
        </div>
        <div class="expandable-foot">
            Hello Footer
        </div>
    </div>
</div>
