<div id="side-menu">
    <div id="side-menu-header" class="side-menu-header">
        <button id="burger-icon" onclick="expand_menu()"><i class="fas fa-bars"></i></button>
{#        <input id="seatch-bar" type="text">#}
{#        <button id="search-btn" onclick="do_search()"><i class="fas fa-search"></i></button>#}
    </div>
    <div id="expandable" class="expandable collapsed">
        <div class="expandable-body">
            <form id="places_form">
                <ul>
                    {% for place in places %}
                        <li>
                            <input id="{{ place.types[0] }}_id" type="checkbox" name="{{ place.types[0] }}"
                                   onclick="updateMapPins()" checked>
                            <label for="{{ place.types[0] }}_id">{{ place.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="expandable-foot">
            <a href="javascript:void(0)"><i class="fas fa-question-circle"></i></a>
        </div>
    </div>
</div>
